<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=652492134825256&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Header ================================================================================= -->
	<header class="cbp-af-header primary-border-color fadeInDown">
		<div class="row">
		
      <div class="sub-row">
      <span class="logo" title="home" style="width:300px;">
        <div style="float:left; height:20px; padding-top:15px; padding-left:60px; margin-right:5px;">

          <div class="fb-like" data-href="https://facebook.com/runningcamel" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
        <div style="float:left; height:20px; padding-top:15px; margin-left:5px;">
            <div class="fb-share-button" data-href="http://giverunner.com" data-type="button_count"></div>
        </div>
      </span>
	
				<nav>
					<ul class="menu-list">
						<li style="display:none;"><a style="font-family:'BenchNine'">ABOUT</a></li>
						<li><a style="font-family:'BenchNine'">ABOUT</a></li>
            <li><a style="font-family:'BenchNine'">GOAL</a></li>
						<li><a  style="font-family:'BenchNine'">WHY</a></li>
						<li style="display:none;"><a>CONTACT</a></li>
						<li><a style="font-family:'BenchNine'">CONTACT</a></li>
					</ul>
		
					<ul class="social-list">
						<li class="separator">|</li>
						<li><span class="iconFont"><a onclick="window.open('http://www.facebook.com/runningcamel','_blank');" class="fa fa-facebook"></a></span></li>																
						<li><span class="iconFont"><a onclick="window.open('http://twitter.com/bonafidehun','_blank');" class="fa fa-twitter"></a></span></li>
						<li><span class="iconFont"><a onclick="window.open('http://instagram.com/seunghunkim','_blank');" class="fa fa-instagram"></a></span></li>
					</ul>
				</nav>
			</div>
						
		</div>
	</header>
<!-- Header END ================================================================================= -->


<!-- Section Home ================================================================================= -->
	<section class="home">
      <div class="row">     
      
	      <div class="home-content">	      
          <h1 style="font-family:Nanum Gothic; ">"Imagine Sports Charity! 스포츠를 통한 기부를 상상하다!"</h1><h1 style="font-family:Nanum Gothic;"><span >Give + Runner</span></h1>			
				
				<div class="subscribe-box">
					<h6 style="font-family:Nanum Gothic;">Subscribe Give Runner Activity<br style="display:block;">메일 주소를 입력하시면 응원이 시작됩니다!</h6>
						<input type="text" id="email-subscribe" name="email-subscribe" class="email required" placeholder="email address...">
						<input type="submit"  class="button" value="SEND" id="submit_subscribe" onclick="add_subscribe();">
				</div>
				
				<div class="subscribe_message">
					<h3>Thank you!</h3>
					<p>We have received your message.</p>
				</div>
				
        <div id="clock">		 
          <div class="fb-like-box" data-href="https://www.facebook.com/runningcamel" data-width="300" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</div>				
		  </div>
		  	  
	  </div>
	</section>
<!-- Section Home END ================================================================================= -->	
	
	
	
<!-- Section About ================================================================================= -->	
	<section class="about">
		<div class="row">
      <div style="float:left;text-align:center;">
        <h3>ABOUT <br>GIVE + RUNNER <br><img src="/img/big-white.png" style="margin-top:20px;"/></h3>
      </div>
			<p style="font-family:Nanum Gothic;">
      '기부러너'는 스포츠 활동을 통하여 기부하는 기쁨을 많은 사람이 함께 누렸으면 좋겠다는 생각에서 시작한 프로젝트입니다. 저는 이 프로젝트를 통해 모든 사람들이 달리기, 걷기, 등산, 사이클링과 같은 다양한 운동을 통해 기부를 할 수 있는 세상을 만들고 싶습니다. 또한, 운동을 좋아하지 않는 사람도 다른 사람의 프로젝트를 응원함으로써 간접적으로 도움을 줄 수 있습니다. 프로젝트 진행자는 SNS와 본 사이트를 통해 프로젝트의 진행사항을 실시간으로 올려, 응원자들과 함께하는 멋진 기부 문화를 만들어갈 것입니다.
      <br style="display:block;">
      <br style="display:block;">
      Give + Runner is a social project that I started to share my joy of sharing with everybody. With this project, I aim to make a world where everybody can donate with simple sports activities like running, walking, climbing and cycling. Also someone who is not fond of doing sports activities themselves can help by supporting others' projects. Project "runners" can share real-time progress of their projects via our website and social network services. This will become an another donation led by all.
      
      </p>
		</div>
	</section>
<!-- Section About END ================================================================================= -->	



<!-- Section Service ================================================================================= -->		
	<section class="service">		
		<div class="row">

		<div>
			<!-- element 1 -->
			<div class="feature left" id="feature1">
				<span class="iconFont"><i class="fa fa-comments"></i></span>
				<h3>Listen</h3>				
        <p>
        더 많은 사람들의 이야기가 필요합니다. 어떠한 얘기라도 좋습니다. 저에게 이 아이디어에 대한 본인의 생각을 말해주세요.
      <br style="display:block;">
      <br style="display:block;">
      I want to listen to your ideas! Any comment is welcomed. Please tell me how you think about this project.
        </p>
			</div>
		
			
			<!-- element 2 -->	
			<div class="feature left" id="feature2">
        <span class="iconFont"><img src="/img/promise.png"/></span>
				<h3>Promise</h3>				
				<p>기부러너 프로젝트는 나 자신과의 약속이자 저를 응원해주시는 여러분과의 약속입니다. 지금 기부하지 않으셔도 좋습니다. 제가 프로젝트를 완수하게 되었을 때 기부를 해주실 수 있다는 작은 약속이 저에게는 큰 힘이 됩니다.
      <br style="display:block;">
      <br style="display:block;">
      This project is not only a promise to myself, but a public promise to you all. You don't have to give something to me right now. Just promise to donate if I accomplish my promises.
      </p>
			</div>
			
		
			<!-- element 3 -->		
			<div class="feature left last" id="feature3">
				<span class="iconFont"><i class="fa fa-trophy"></i></span>
				<h3>Challenge</h3>								
        <p>이것은 저의 도전이자, 한국의 기부 문화를 바꾸기 위한 여러분의 도전입니다. 많은 이들의 참여와 관심이 필요합니다. 어렵지 않습니다. 여러분의 SNS에서 공유해주세요!
        <br style="display:block;">
        <br style="display:block;">
        This is a challenge which aims to change Korean donation culture. I need assistance and support from all of you; you! Please spread my ideas to others via SNS! 
          <div style="float:right;">
            <div class="fb-like" data-href="https://facebook.com/runningcamel" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            <div class="fb-share-button" data-href="http://giverunner.com" data-type="button_count"></div>
        </div>
        </p>
			</div>
			
		</div>


<!-- If you prefer two columns and six elements, remove this comment AND open css/base.css add and following code at line 237: 
                                                                                          .row2 .feature{opacity:1 !important;}                                                                                         	
		<div class="row2">

			<div class="feature left" id="feature4">
				<span class="iconFont"><i class="fa fa-mobile"></i></span>
				<h3>MOBILE RESPONSIVE</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>

			<div class="feature left" id="feature5">
				<span class="iconFont"><i class="fa fa-wrench"></i></span>
				<h3>DIGITAL TOOL</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
	
			<div class="feature left last" id="feature6">
				<span class="iconFont"><i class="fa fa-thumbs-o-up"></i></span>
				<h3>SEO TECHNIQUES</h3>								
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		</div>		
End comment -->	

			
		</div>		
  </section>

	<section class="about" style="background:#fedfd4;">
		<div class="row">
      <div style="float:left; text-align:center;">
			<h3 style="color:#7a1e00;">WHY <br>GIVE + RUNNER?<br><img src="/img/big-black.png" style="margin-top:20px;"/></h3>
      </div>
      <p style="font-family:Nanum Gothic; color:#7a1e00;" >

      기부가 단 한번의 결제로 이루어지고, 당신의 사는 곳과 전혀 다른 차원으로 돈이 흘러간다고 느끼셨습니까? 우리 사회에서의 기부 행위는 기부자 본인의 체험과 가치와는 너무나도 멀리 떨어져 있습니다. 제가 하고자 하는 것은 우리 삶 속의 멋진 순간들을 기부의 현장으로 가지고 와 보자는 것입니다. 삶 속에서의 스포츠는 기부에 대한 재미와 동기를 부여할 수 있는 좋은 수단이 될 수 있습니다. 저는 스포츠를 할 때 고통의 순간을 극복함을 통해 주변의 힘든 사람들을 기억하고, 다른 사람에게 공감하는 법을 배우며, 나아가 자신을 위한 도움이 될 때 남들을 한 번 더 기억할 수 있게 된다고 믿습니다. 따라서 저는 이 기부러너를 통해 사람들이 어떻게 스포츠라는 활동을 통하여 기부로까지 이어질 수 있을지를 고민하고, 함께하며, 더 배우고자 합니다. 

      <br style="display:block;">
      <br style="display:block;">
      In today's society, ritualized donation activities have alienated donators from the very nature of charity. In objection to this false trend, I strive to reconnect true meaning and feeling of charity to donators by bringing moments of our lives back into charity scenes. Daily sports activities can be the best means to arouse our attention and interest regarding charity and donation. When we participate in sports activities, we can remind of social minorities by overcoming hardships, learn how to emphatize with them when training in teamwork, and can support them with financial means when I care for myself the most. So in this project Give + Runner, I want to learn how this idea can actually evolve into charity movement with you all. Would you do me the honour to listen to your ideas? 
      
      </p>
		</div>
	</section>
	<section class="service">
		<div class="row">

            <div class="fb-comments" data-href="http://giverunner.com" data-numposts="10" data-colorscheme="light" data-width="100%"></div>
            <div class="fb-like-box" data-href="https://www.facebook.com/runningcamel" data-colorscheme="light"  data-show-faces="true" data-header="false" data-show-border="false"></div>

		</div>
	</section>


<!-- Section Service END ================================================================================= -->		
	
<!-- Section Contact ===================================================================================== -->		
	<section class="contact">


	<!-- google maps -->		 	

	 
	
		<div class="row">
			<div class="info">
        <h3 style="font-family:Nanum Gothic;">우리는 왜 감동했는가? 우리 주변의 감동적인 기부사연을 나누고 싶습니다. 오른쪽 양식에서 언제든지 연락해주세요! (기부러너는 언제나 열려있습니다.)</h3>
				<h3 style="font-family:Nanum Gothic;">
        Why are we moved?<br>
        We want to share special charity stories with you. Please contact us via form at the right</h3>
				<ul>
					<li><p><span class="iconFont"><i class="fa fa-map-marker"></i></span><span class="text">Digital Nomad(디지털 노마드: 장소에 구애받지 않고 돌아다님)</span></p></li>
					<li><p><span class="iconFont"><i class="fa fa-phone"></i></span><span class="text">+82 10-4858-1412</span></p></li>
					<li><p><span class="iconFont"><i class="fa fa-envelope"></i></span><span class="text">bigtory.kim@gmail.com</span></p></li>
				</ul>
				

			
			</div>
		
	<!-- form contact -->	
		<div class="form-contact">
		
			<div class="cont-send">
				<p class="success">Your message was sent successfully.</p>
			</div>		

			<form action="/main/add_feedback" method="post">
    <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
			
				<span class="name-input-cont">
					<label for="name">Your name:</label>
					<input type="text" id="name" name="name"  class="required">
				</span>
				
					<span class="email-input-cont">
					<label for="email">Email address:</label>
					<input type="text" id="email" name="email" class="required email">
				</span>	
				
				<span class="message-cont">
					<label for="comment">Message:</label>
					<textarea id="comment" class="required" name="content" ></textarea>
				
				</span>	
				<span class="load-form"></span>					
				<input type="submit"  class="button" value="SEND MESSAGE" >			
			</form>		
		</div>			
	

		</div>
	</section>
<!-- Section Contact END ======================================================================= -->		
	
<a id="prev"></a>

<!-- Footer ==================================================================================== -->
	<footer>
		<div class="row">
			<small>GiveRunner Copyright &#169; 2014, All rights reserved.</small>
				<ul class="social">
					<li><span class="iconSocial"><a href="http://facebook.com/runningcamel" class="fa fa-facebook"></a></span></li>
					<li><span class="iconSocial"><a href="http://twitter.com/bonafidehun" class="fa fa-twitter"></a></span></li>
					<li><span class="iconSocial"><a href="http://instagram.com/seunghunkim" class="fa fa-instagram"></a></span></li>
				</ul>
		</div>
	</footer>
<!-- Footer ends =============================================================================== -->		





<!-- JS
================================================================================================= -->

<script>
function add_subscribe(){
  var getmail = $('#email-subscribe').val();
  $.ajax({
  url: '/main/add_subscribe?address=' + getmail,
  dataType: "json",
  success: function(data) {
    if (data == "fail"){
      alert("이미 구독하고 계신 메일주소입니다. This mail is Subscribing.");
    }
    else if (data == "wrong"){
      alert('메일 주소 양식이 맞지 않습니다. Wrong email format.');
      }
      else{
      alert( data + '님, 구독해주셔서 감사합니다. 메일이 저장되었습니다. Thank you for subscribing!');
    }
  },
error: function(){
  alert('Error! Send email to "minyoung9353@gmail.com" please... 알 수 없는 오류가 발생하였습니다. 아래의 피드백으로 연락처를 보내주시면 구독신청 및 문제해결을 하겠습니다.');
}
      
      
      });

}

</script>


<script src="/js/jquery.min.js"></script>
<script src="/js/jpreloader.min.js"></script>
<script src="/js/vegas.js"></script>
<script src="/js/pagescroller.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/validate.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/script.js"></script>


<script type="text/javascript">
$(document).ready(function() {	
	$(window).scrollTop(0);/* force page scroll position to top at page refresh */
});		
</script>


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28995875-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
