<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=1524815011076920&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Header ================================================================================= -->
	<header class="cbp-af-header primary-border-color fadeInDown">
		<div class="row">
		
			<div class="sub-row">
      <div style="float:left; width:50px; height:10px; padding-bottom:10px;">
        <div class="fb-like" data-href="https://facebook.com/runningcamel" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
	
				<nav>
					<ul class="menu-list">
						<li><a>ABOUT</a></li>
						<li><a>SERVICE</a></li>
						<li><a>CONTACT</a></li>
					</ul>
		
					<ul class="social-list">
						<li class="separator">|</li>
						<li><span class="iconFont"><a onclick="window.open('http://www.facebook.com/runningcamel','_blank');" class="fa fa-facebook"></a></span></li>																
						<li><span class="iconFont"><a onclick="window.open('http://twitter.com/bonafidehun','_blank');" class="fa fa-twitter"></a></span></li>
						<li><span class="iconFont"><a onclick="window.open('http://instagram.com/seunghunkim','_blank');" class="fa fa-instagram"></a></span></li>
					</ul>
				</nav>
			</div>
						
		</div>
	</header>
<!-- Header END ================================================================================= -->


<!-- Section Home ================================================================================= -->
	<section class="home">
      <div class="row">     
      
	      <div class="home-content">	      
          <h1 style="font-family:Nanum Gothic; ">"스포츠를 통한 기부를 상상하다."</h1><h1 style="font-family:Nanum Gothic;"><span >김승훈의 Give Runner</span></h1>			
				
				<div class="subscribe-box">
					<h6 style="font-family:Nanum Gothic;">메일 주소를 입력하시면 응원이 시작됩니다!</h6>
						<input type="text" id="email-subscribe" name="email-subscribe" class="email required">
						<input type="submit"  class="button" value="SEND" id="submit_subscribe" onclick="add_subscribe();">  
				</div>
				
				<div class="subscribe_message">
					<h3>Thank you!</h3>
					<p>We have received your message.</p>
				</div>
				
				<div id="clock">		 
				  	<p><span id="days" class="primary-color"></span><strong> days</strong></p>
				  	<p><span id="hours"></span><strong> hours</strong></p>
				  	<p><span id="minutes" class="primary-color"></span><strong> minutes</strong></p>
				    <p><span id="seconds"></span><strong> seconds</strong></p>    
				</div>				
		  </div>
		  	  
	  </div>
	</section>
<!-- Section Home END ================================================================================= -->	
	
	
	
<!-- Section About ================================================================================= -->	
	<section class="service">
		<div class="row">

          <div style="float:left; width:300px;">
            <div class="fb-like-box" data-href="https://www.facebook.com/runningcamel" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
          </div>
          <div style="float:left; width:300px;">
          <div class="fb-comments" data-href="http://giverunner.com" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
          </div>
          <div style="float:left; width:300px;">
            <div class="fb-share-button" data-href="http://giverunner.com" data-type="button_count"></div>
          </div>

		</div>
	</section>
	<section class="about">
		<div class="row">
      <div style="float:left;">
			<h3>ABOUT<br>GIVE + RUNNER</h3>
      </div>
			<p style="font-family:Nanum Gothic;">

      기부러너는 누구나 스포츠 활동을 통하여 기부할 수 있도록 해주는 플랫폼입니다. 동네 아저씨에서부터, 옆집 다이어트 소녀, 운동이라고는 잘 하지도 못하는 나까지 운동을 하고, 운동한만큼 정직하게 기부할 수 있습니다. 달리기, 걷기, 등산, 사이클링까지 다양한 운동들을 통해 기부할 수 있으며, 내 돈으로 기부할 수도 있고, 기업으로부터 후원을 받아 기부할 수도 있습니다. 또 주위사람들은 그 사람의 결심과 순수한 동기를 물질적으로 응원해주거나 같이 동참할 수도 있습니다. 
      <br style="display:block;">
      <br style="display:block;">
      Give + Runner is a social platform where everybody can donate easily with their daily sports activities. From the elderly lady nextdoor to the cute girl across the street, literally everybody can participate in donation project by simple sports activities such as running, jogging, walking, climbing, cycling and etc. You can donate with your own money, or you can receive official support from companies who want their money to be spent for good purposes. Lastly, people around you can support your good cause by adding money in or actually participating in the project with you.  
      
      </p>
		</div>
	</section>
<!-- Section About END ================================================================================= -->	



<!-- Section Service ================================================================================= -->		
	<section class="service">		
		<div class="row">

		<div>
			<!-- element 1 -->
			<div class="feature left" id="feature1">
				<span class="iconFont"><i class="fa fa-cogs"></i></span>
				<h3>DEVELOPMENT</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
		
			
			<!-- element 2 -->	
			<div class="feature left" id="feature2">
				<span class="iconFont"><i class="fa fa-bullseye"></i></span>
				<h3>MARKETING</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		
			<!-- element 3 -->		
			<div class="feature left last" id="feature3">
				<span class="iconFont"><i class="fa fa-laptop"></i></span>
				<h3>WEB DESIGN</h3>								
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		</div>



<!-- If you prefer two columns and six elements, remove this comment AND open css/base.css add and following code at line 237: 
                                                                                          .row2 .feature{opacity:1 !important;}                                                                                         	
		<div class="row2">

			<div class="feature left" id="feature4">
				<span class="iconFont"><i class="fa fa-mobile"></i></span>
				<h3>MOBILE RESPONSIVE</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>

			<div class="feature left" id="feature5">
				<span class="iconFont"><i class="fa fa-wrench"></i></span>
				<h3>DIGITAL TOOL</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
	
			<div class="feature left last" id="feature6">
				<span class="iconFont"><i class="fa fa-thumbs-o-up"></i></span>
				<h3>SEO TECHNIQUES</h3>								
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		</div>		
End comment -->	

			
		</div>		
	</section>
<!-- Section Service END ================================================================================= -->		
	
<!-- Section Contact ===================================================================================== -->		
	<section class="contact">


	<!-- google maps -->		 	
		<div id="map-canvas"></div>	

	 
	
		<div class="row">
			<div class="info">
				<h2>우리는 왜 감동했는가? 우리 주변의 감동적인 기부사연을 나누고 싶습니다. 오른쪽 양식에서 언제든지 연락해주세요!</h2>
				<h3>
        Why are we moved?<br>
        We want to share special charity stories with you. Please contact us via form at the right</h3>
				<ul>
					<li><p><span class="iconFont"><i class="fa fa-map-marker"></i></span><span class="text">서울특별시 관악구 봉천동(Seoul, Gwan-ak-gu, Bong-chun-dong)</span></p></li>
					<li><p><span class="iconFont"><i class="fa fa-phone"></i></span><span class="text">+82 10-2707-2961</span></p></li>
					<li><p><span class="iconFont"><i class="fa fa-envelope"></i></span><span class="text">iimplicit@gmail.com</span></p></li>
				</ul>
				

			
			</div>
		
	<!-- form contact -->	
		<div class="form-contact">
		
			<div class="cont-send">
				<p class="success">Your message was sent successfully.</p>
			</div>		

			<form action="/main/add_feedback" method="post">
    <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
			
				<span class="name-input-cont">
					<label for="name">Your name:</label>
					<input type="text" id="name" name="name"  class="required">
				</span>
				
					<span class="email-input-cont">
					<label for="email">Email address:</label>
					<input type="text" id="email" name="email" class="required email">
				</span>	
				
				<span class="message-cont">
					<label for="comment">Message:</label>
					<textarea id="comment" class="required" name="content" ></textarea>
				
				</span>	
				<span class="load-form"></span>					
				<input type="submit"  class="button" value="SEND MESSAGE" >			
			</form>		
		</div>			
	

		</div>
	</section>
<!-- Section Contact END ======================================================================= -->		
	
<a id="prev"></a>

<!-- Footer ==================================================================================== -->
	<footer>
		<div class="row">
			<small>GiveRunner Copyright &#169; 2014, All rights reserved.</small>
				<ul class="social">
					<li><span class="iconSocial"><a href="http://facebook.com/runningcamel" class="fa fa-facebook"></a></span></li>
					<li><span class="iconSocial"><a href="http://twitter.com/bonafidehun" class="fa fa-twitter"></a></span></li>
					<li><span class="iconSocial"><a href="http://instagram.com/seunghunkim" class="fa fa-instagram"></a></span></li>
				</ul>
		</div>
	</footer>
<!-- Footer ends =============================================================================== -->		





<!-- JS
================================================================================================= -->

<script>
function add_subscribe(){
  var getmail = $('#email-subscribe').val();
  $.ajax({
  url: '/main/add_subscribe?address=' + getmail,
  dataType: "json",
  success: function(data) {
    if (data == "fail"){
      alert("이미 구독하고 계신 메일주소입니다.");
    }
    else if (data == "wrong"){
      alert('메일 주소 양식이 맞지 않습니다.');
      }
      else{
      alert( data + '님, 구독해주셔서 감사합니다. 메일이 저장되었습니다.');
    }
  },
error: function(){
  alert('알 수 없는 오류가 발생하였습니다. 아래의 피드백으로 연락처를 보내주시면 구독신청 및 문제해결을 하겠습니다.');
}
      
      
      });

}

</script>


<script src="/js/jquery.min.js"></script>
<script src="/js/jpreloader.min.js"></script>
<script src="/js/vegas.js"></script>
<script src="/js/pagescroller.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/validate.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/script.js"></script>


<script type="text/javascript">
$(document).ready(function() {	
	$(window).scrollTop(0);/* force page scroll position to top at page refresh */
});		
</script>


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28995875-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
